.coverage
.noseids
Kivy.egg-info
Kivy-*.dist-info
*.so
*.pyd
*.pyc
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf
build/*
doc/build
doc/autobuild.py-done*
doc/sources/api-*.rst
doc/sources/examples/gen__*.rst
doc/sources/examples/gallery.rst
doc/sources/examples/index.rst
examples/*/bin
examples/*/.buildozer
kivy/*.c
kivy/*.pyd
kivy/core/text/_text_pango.c
kivy/core/text/text_layout.c
kivy/core/text/text_layout.pyd
kivy/core/window/window_info.c
kivy/graphics/*.c
kivy/graphics/*.cpp
kivy/graphics/*.pyd
kivy/graphics/cgl_backend/*.c
kivy/graphics/cgl_backend/*.pyd
kivy/include/config.h
kivy/include/config.pxi
kivy/lib/gstplayer/_gstplayer.c
kivy/core/camera/camera_avfoundation.c
kivy/tests/build
kivy/tests/results
kivy/tests/image-testsuite
kivy/garden
.last_known_portable_deps_hash
deps.zip
Kivy.dmg
iosbuild
kivy/core/image/osxcoreimage.c
kivy/core/window/sdl.c
python
python.exe
.idea
dist
htmlcov
kivy/deps/*
!kivy/deps/__init__.py
kivy.deps*
kivy/version.py
results.png

MANIFEST

kivy/core/image/img_imageio.c
kivy/core/audio/audio_sdl2.c
kivy/core/text/text_sdlttf.c
kivy/core/window/window_x11.c
kivy/lib/vidcore_lite/bcm.c
kivy/lib/vidcore_lite/bcm.h
kivy/lib/vidcore_lite/egl.c
kivy/core/image/_img_sdl2.c
kivy/core/text/_text_sdl2.c
kivy/core/window/_window_sdl2.c

# PyDev
.project
.pydevproject
.settings/

# Virtualenv
venv

# Emacs
.projectile

kivy/setupconfig.py

kivy/core/clipboard/_clipboard_sdl2.c
