.coverage
.idea
.noseids
build
Kivy.egg-info
results

python
deps.zip
python.exe
Kivy.dmg
doc/sources/api-*.rst
kivy/graphics/config.h
kivy/lib/vidcore_lite/bcm.h
kivy/graphics/config.pxi
.last_known_portable_deps_hash
iosbuild
MANIFEST

*.c
*.so
*.pyc
*.pyd
*.pyo
*.py#
*~
*.swp
*.DS_Store
*.kpf
