include *AUTHORS *COPYING
recursive-include doc *
recursive-include examples *
recursive-include kivy/data *.png *.jpg *.svg *.css *.ttf *.kv *.fs *.vs *.json
recursive-include kivy/tools *.png *.txt *.bat *.sh
recursive-include kivy/tests *.py *.png
recursive-include kivy *.pyd *.pyx *.c *.pxi *.h *.pxd
