@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('nobile.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
	background: #000000 url('bg.jpg') top left repeat;
	background-attachment: fixed;
}

table {
	font-family: Verdana, Arial, sans-serif;
	font-size: 13px;
}

a img {
	border: none;
}

a {
	color: #666;
	outline: 0;
}

a:hover {
	color: #222;
}

/** Layout
 */
#content {
	background-color: #f8f8f8;
	color: #333;
	border-left: 1px solid #666666;
	width: 840px;
}

#contentall {
	width: 1090px;
	margin: 0px auto;
}

#content .wrapper {
	padding: 1px 20px;
}

.clearer {
	clear: left;
}



/** Header
 */
#topbar {
	height: 120px;
}

#topwrapper {
	width: 1090px;
	clear: left;
	margin: 0 auto;
}

#toplogo {
	font-size: 13px;
	padding: 25px 0px;
	float: left;
	width: 300px;
}

#toplogo a {
	text-decoration: none;
}

#topmenu {
	display: block;
	font-size: 13px;
}

#topmenu ul.navigation {
	float: right;
	margin-right: 250px;
}

#topmenu ul.navigation li {
	float: left;
	list-style-type: none;
}

#topmenu ul.navigation li a {
	float: left;
	margin-left: 30px;
	line-height: 30px;
	list-style-type: none;
	color: #bbb;
	margin-top: 30px;
	font-family: 'Nobile', 'OpenSans', Verdara, sans-serif;
	text-decoration: none;
}

.sphinxsidebar a {
	color: #bbb;
	text-decoration: none;
}

.sphinxsidebar a:hover {
	color: #ddd;
}

.sphinxsidebar {
	width: 220px;
	margin: -10px 10px 0 10px;
	float: right;
	color: #888;
}

.sphinxsidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin-bottom: 10px;
}

.sphinxsidebar li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sphinxsidebar ul ul {
	margin-left: 25px;
}

.sphinxsidebar ul li li {
	list-style-type: square;
	color: #aa6;
}

.sphinxsidebar a:hover {
	color: #fff;
}

.sphinxsidebar a.current {
	text-decoration: underline;
	color: #eee;
}

.sphinxsidebar input {
    font-family: sans-serif;
    font-size: 1em;
	background: #eceae0 url('search.png') 140px 3px no-repeat;
	padding: 3px 5px 3px 10px;
	border: none;
	border-radius: 15px;
	width: 150px;
	margin: 10px auto;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.sphinxsidebar h3 {
	border-bottom: 1px solid #666666;
	color: #aaaaaa;
	font-size: 16px;
	text-shadow: 1px 1px 0px #333;
}

.sphinxsidebar h3 a {
	color: #cccccc;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 26px;
	color: #333;
	text-shadow: 1px 1px 0px #ccc;
}

h1 {
	font-size: 28px;
	background-color: #eeeeee;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	margin-top: 0px;
	padding-top: 10px;
}

h2 {
	border-bottom: 1px solid #cccccc;
}

h3 {
	font-size: 24px;
	border-bottom: 1px dotted #cccccc;
	padding: 0px;
	margin: 10px 0px;
}

h4 {
	font-size: 24px;
	padding: 0px;
	margin: 8px 0px;
}

.hl {
	font-weight: bold;
	font-size: 15px;
}

/* Admonitions */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

div.admonition dl {
    margin-bottom: 0;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

div.body p.centered {
    text-align: center;
    margin-top: 25px;
}

dl.docutils dt {
	font-weight: bold;
}

table.docutils {
    border: 0;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
}

table.field-list td, table.field-list th {
    border: 0 !important;
}

table.footnote td, table.footnote th {
    border: 0 !important;
}

.field-list ul {
    margin: 0;
    padding-left: 1em;
}

.field-list p {
    margin: 0;
}

dl {
    margin-bottom: 15px;
}

dl.class dl {
	margin-bottom: 0px;
}

dd p {
    margin-top: 0px;
}

dd ul, dd table {
    margin-bottom: 10px;
}

dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.refcount {
    color: #060;
}

dt:target,
.highlight {
    /** background-color: #fbe54e; TEMPORARY REMOVE THIS, CAUSE WITH RIGHT ALIGN IMAGE, WE ARE SEEING THE COLOR **/
	background-color: #23cc23;
}

.highlight-python .highlight {
	background-color: transparent;
}

dl.glossary dt {
    font-weight: bold;
    font-size: 1.1em;
}

th {
    text-align: left;
    padding-right: 5px;
}

pre {
    padding: 1em;
	font-size: 1em;
	background-color: #e5e5e5;
    overflow: auto;
	border: 1px solid #cccccc;
}

td.linenos pre {
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    color: #aaa;
}

table.highlighttable {
    margin-left: 0.5em;
}

table.highlighttable td {
    padding: 0 0.5em 0 0.5em;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 1em;
	font-size: inherit;
}

tt.descname {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
}

tt.descclassname {
    background-color: transparent;
}

tt.xref, a tt {
    background-color: transparent;
    font-weight: bold;
}

.footnote:target  { background-color: #ffa }

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    background-color: transparent;
}

.optional {
    font-size: 1.3em;
}

.versionmodified {
    font-style: italic;
}

form.comment {
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: #eee;
}

form.comment h3 {
    background-color: #326591;
    color: white;
    margin: -10px -30px 10px -30px;
    padding: 5px;
    font-size: 1.4em;
}

form.comment input,
form.comment textarea {
    border: 1px solid #ccc;
    padding: 2px;
    font-family: sans-serif;
    font-size: 100%;
}

form.comment input[type="text"] {
    width: 240px;
}

form.comment textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.system-message {
    background-color: #fda;
    padding: 5px;
    border: 3px solid red;
}

img.math {
    vertical-align: middle;
}

div.math p {
    text-align: center;
}

span.eqno {
    float: right;
}

img.logo {
    border: 0;
}


/** Kivy
 */
a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}
a.headerlink {
    color: #DDDDDD;
    padding: 0 4px;
    text-decoration: none;
}
a.headerlink:hover {
    background: none repeat scroll 0 0 #EAEAEA;
    color: #444444;
}

/** Method/class/... styling
 */
dl.data dt,
dl.attribute dt,
dl.exception dt,
dl.function dt,
dl.method dt,
dl.class dt {
	background: #e5e5e5 url('element-method-16.png') 8px 13px no-repeat;
	padding: 5px 5px 5px 30px;
	line-height: 28px;
}

dl.class dl.method dt {
	background-image: url('element-method-16.png');
}

dl.class dt {
	background-image: url('element-class-16.png')
}

dl.attribute dt {
	background-image: url('element-field-16.png')
}

dl dd {
	margin: 0;
	padding: 15px 0px 10px 25px;
}

dl dl dt {
	margin: 0 -10px 0 -10px;
}

dl.function,
dl.data,
dl.class {
	border: 1px solid #cccccc;
	margin-top: 20px;
}

dl.function > dd,
dl.data > dd,
dl.class > dd {
	border-top: 1px solid #cccccc;
	margin: 0px;
	padding: 10px;
}

/** field list
 */
table.field-list {
	width: 100%;
	border-collapse: collapse;
}

table.field-list th.field-name {
	background-color: #eeeeee;
}

/** Footer links
 */

.footerlinks {
	margin: 10px -20px 0px -20px;
	padding: 10px;
	background-color: #eeeeee;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.footerlinks table {
	width: 100%;
}

.footerlinks .rightlink {
	text-align: right;
}

/** Image link
 */
img.align-right {
	float: right;
	margin: 0 0 20px 20px;
}

img.align-center {
	text-align: center;
	margin: 20px auto;
	display: block;
}

/** Api enhance navigation
 */
.bodyshortcut {
	font-size: 10px;
	margin: -10px -20px 20px -20px;
	padding: 0 20px 8px 20px;
	border-bottom: 1px solid #cccccc;
}

.right {
	float: right;
}
.left {
	float: left;
}

dl.class > dt.hover,
dl.data > dt.hover,
dl.function > dt.hover,
dl.method > dt.hover,
dl.attribute > dt.hover,
dl.exception > dt.hover {
	background-color: #f0f0f0 !important;
}

#api-toggle-desc,
#api-toggle-all {
	font-size: 13px;
	float: right;
	margin-top: 10px;
	margin-left: 20px;
	cursor: pointer;
}

dl.api-level dt {
	cursor: pointer;
}
