/**
 * Sphinx / Kivy Doc Design
 */

@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: normal;
  src: local('Nobile'), url('nobile.ttf') format('truetype');
}

body { 
    margin: 0;
    padding: 0; 
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: .92em;
    background-color: #fcfaf0;
    color: #2a2522;
}

a {
	color: #0065b0;
	outline: 0;
}

a img {
	border: none;
}

#logo,
#wrapper,
#menu {
    width: 990px;
	margin: 0 auto;
}

#wrapper {
	padding-top: 160px;
}

#logo a {
	position: absolute;
	margin-top: 8px;
}

div.anchor {
	float: left;
	margin-top: -160px;
}

#searchbox {
	margin-bottom: 10px;
}

#toggleheader {
	font-size: 10px;
	float: right;
	background-color: #eceae0;
	background-color: #acaaa0;
	margin-top: 35px;
	margin-right: 10px;
	padding: 3px 9px;
	cursor: pointer;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-bottomleft: 15px;
	-webkit-border-radius-topright: 15px;
}

/** Header
 */
#topbar {
	position: fixed;
	height: 160px;
	width: 100%;
	top: 0px;
	z-index: 1000;
    background: #fcfaf0 url('background.png') top left repeat-x;
}

#topbar a img {
	border: none;
}

/** Menu
 */

#menu {
	line-height: 33px;
	margin-top: 119px;
}

/* Navigation
 */

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
	margin-left: 5px;
}

ul.navigation form.search,
ul.navigation li a {
	float: left;
    margin-right: 20px;
	outline: 0;
	font-size: 13px;
	color: #adaba8;
	text-decoration: none;
}

ul.navigation input {
    font-family: sans-serif;
    font-size: 1em;
	background: #eceae0 url('search.png') 140px 3px no-repeat;
	padding: 3px 5px 3px 10px;
	border: none;
	border-radius: 15px;
	width: 150px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

ul.navigation li a.selected,
ul.navigation li a:hover {
	background: transparent url('highlight.png') center top no-repeat;
	color: #f0f0f0;
}

/* :::: LAYOUT :::: */

div.documentwrapper {
	margin-left: 250px;
}

div.sphinxsidebar {
	width: 250px;
	font-size: 14px;
	float: left;
}

div.body {
    padding: 10px 20px 30px 30px;
}

div.sphinxsidebarwrapper {
    padding: 10px 5px 0 10px;
}

div.clearer {
    clear: both;
}

div.footer {
    color: #fff;
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    text-decoration: underline;
}

div.related {
    line-height: 30px;
    font-size: 90%;
}

div.related h3 {
    display: none;
}

div.related ul {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

div.related li {
    display: inline;
}

div.related li.right {
    float: right;
    margin-right: 5px;
}

div.header {
	margin-top: 20px;
	height: 80px;
	line-height: 80px;
}

div.related {
	clear: left;
}

/* ::: TOC :::: */
div.sphinxsidebar h3 {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

div.sphinxsidebar h3 a {
}

div.sphinxsidebar h4 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 5px 0 0 0;
    padding: 0;
}

div.sphinxsidebar p {
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 10px;
    padding: 0;
    list-style: none;
}

div.sphinxsidebar ul ul,
div.sphinxsidebar ul.want-points {
    margin-left: 20px;
    list-style: circle;
}

div.sphinxsidebar ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.sphinxsidebar form {
    margin-top: 10px;
}

div.documentwrapper input,
div.sphinxsidebar input {
    font-family: sans-serif;
    font-size: 1em;
	background-color: #eceae0;
	padding: 6px 9px;
	border: none;
}

/* :::: MODULE CLOUD :::: */
div.modulecloud {
    margin: -5px 10px 5px 10px;
    padding: 10px;
    line-height: 160%;
    border: 1px solid #cbe7e5;
    background-color: #f2fbfd;
}

div.modulecloud a {
    padding: 0 5px 0 5px;
}

/* :::: SEARCH :::: */
ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}

ul.search li {
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

ul.search li a {
    font-weight: bold;
}

ul.search li div.context {
    color: #888;
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}

/* :::: COMMON FORM STYLES :::: */

div.actions {
    padding: 5px 10px 5px 10px;
    border-top: 1px solid #cbe7e5;
    border-bottom: 1px solid #cbe7e5;
    background-color: #e0f6f4;
}

form dl {
    color: #333;
}

form dt {
    clear: both;
    float: left;
    min-width: 110px;
    margin-right: 10px;
    padding-top: 2px;
}

input#homepage {
    display: none;
}

div.error {
    margin: 5px 20px 0 0;
    padding: 5px;
    border: 1px solid #d00;
    font-weight: bold;
}

/* :::: INDEX PAGE :::: */

table.contentstable {
    width: 90%;
}

table.contentstable p.biglink {
    line-height: 150%;
}

a.biglink {
    font-size: 1.3em;
}

span.linkdescr {
    font-style: italic;
    padding-top: 5px;
    font-size: 90%;
}

/* :::: INDEX STYLES :::: */

table.indextable td {
    text-align: left;
    vertical-align: top;
}

table.indextable dl, table.indextable dd {
    margin-top: 0;
    margin-bottom: 0;
}

table.indextable tr.pcap {
    height: 10px;
}

table.indextable tr.cap {
    margin-top: 10px;
    background-color: #f2f2f2;
}

img.toggler {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}

form.pfform {
    margin: 10px 0 20px 0;
}

/* :::: GLOBAL STYLES :::: */

.docwarning {
    background-color: #ffe4e4;
    padding: 10px;
    margin: 0 -20px 0 -20px;
    border-bottom: 1px solid #f66;
}

p.subhead {
    font-weight: bold;
    margin-top: 20px;
}

a {
    color: #af4225;
    text-decoration: none;
}

a:hover {
    color: #f05b33;
    text-decoration: underline;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Trebuchet MS', sans-serif;
    --background-color: #f2f2f2;
    --border-bottom: 1px solid #ccc;
    font-weight: normal;
    color: #574d46;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 10px;
}

div.body h1 { margin-top: 0; font-size: 160%; }
div.body h2 { font-size: 140%; }
div.body h3 { font-size: 120%; }
div.body h4 { font-size: 110%; }
div.body h5 { font-size: 105%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

div.body p, div.body dd, div.body li {
    text-align: justify;
    line-height: 150%;
}

div.body p.caption {
    text-align: inherit;
}

div.body td {
    text-align: left;
}

ul.fakelist {
    list-style: none;
    margin: 10px 0 10px 20px;
    padding: 0;
}

.field-list ul {
    padding-left: 1em;
}

.first {
    margin-top: 0 !important;
}

img.align-right {
	float: right;
	margin-left: 10px;
}


/* "Footnotes" heading */
p.rubric {
    margin-top: 30px;
    font-weight: bold;
}

/* Sidebars */

div.sidebar {
    margin: 0 0 0.5em 1em;
    border: 1px solid #ddb;
    padding: 7px 7px 0 7px;
    background-color: #ffe;
    width: 40%;
    float: right;
}

p.sidebar-title {
    font-weight: bold;
}

/* "Topics" */

div.topic {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 7px 7px 0 7px;
    margin: 10px 0 10px 0;
}

p.topic-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
}

/* Admonitions */

div.admonition {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

div.admonition dt {
    font-weight: bold;
}

div.admonition dl {
    margin-bottom: 0;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

p.admonition-title {
    margin: 0px 10px 5px 0px;
    font-weight: bold;
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

div.body p.centered {
    text-align: center;
    margin-top: 25px;
}

dl.docutils dt {
	font-weight: bold;
}

table.docutils {
    border: 0;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #aaa;
}

table.field-list td, table.field-list th {
    border: 0 !important;
}

table.footnote td, table.footnote th {
    border: 0 !important;
}

.field-list ul {
    margin: 0;
    padding-left: 1em;
}

.field-list p {
    margin: 0;
}

dl {
    margin-bottom: 15px;
}

dd p {
    margin-top: 0px;
}

dd ul, dd table {
    margin-bottom: 10px;
}

dd {
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.refcount {
    color: #060;
}

dt:target,
.highlight {
    /** background-color: #fbe54e; TEMPORARY REMOVE THIS, CAUSE WITH RIGHT ALIGN IMAGE, WE ARE SEEING THE COLOR **/
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

dl.glossary dt {
    font-weight: bold;
    font-size: 1.1em;
}

th {
    text-align: left;
    padding-right: 5px;
}

pre {
    padding: 1em;
	font-size: 1.05em;
	background-color: #eceae0;
    overflow: auto;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

td.linenos pre {
    padding: 5px 0px;
    border: 0;
    background-color: transparent;
    color: #aaa;
}

table.highlighttable {
    margin-left: 0.5em;
}

table.highlighttable td {
    padding: 0 0.5em 0 0.5em;
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 1em;
	font-size: inherit;
}

tt.descname {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
}

tt.descclassname {
    background-color: transparent;
}

tt.xref, a tt {
    background-color: transparent;
    font-weight: bold;
}

.footnote:target  { background-color: #ffa }

h1 tt, h2 tt, h3 tt, h4 tt, h5 tt, h6 tt {
    background-color: transparent;
}

.optional {
    font-size: 1.3em;
}

.versionmodified {
    font-style: italic;
}

form.comment {
    margin: 0;
    padding: 10px 30px 10px 30px;
    background-color: #eee;
}

form.comment h3 {
    background-color: #326591;
    color: white;
    margin: -10px -30px 10px -30px;
    padding: 5px;
    font-size: 1.4em;
}

form.comment input,
form.comment textarea {
    border: 1px solid #ccc;
    padding: 2px;
    font-family: sans-serif;
    font-size: 100%;
}

form.comment input[type="text"] {
    width: 240px;
}

form.comment textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.system-message {
    background-color: #fda;
    padding: 5px;
    border: 3px solid red;
}

img.math {
    vertical-align: middle;
}

div.math p {
    text-align: center;
}

span.eqno {
    float: right;
}

img.logo {
    border: 0;
}

/* ::: KIVY ::: */
dl.class {
	margin-top: 20px;
}

dl.data dt,
dl.attribute dt,
dl.exception dt,
dl.function dt,
dl.method dt,
dl.class dt {
	background: #eceae0 url('element-method-16.png') 8px 10px no-repeat;
	margin: 10px 0px;
	padding-left: 30px;
	line-height: 28px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-radius-topleft: 15px;
	-webkit-border-radius-topright: 15px;
}

dl.class dt {
	background-color: #dedcd3;
}


dl.data dt,
dl.attribute dt,
dl.exception dt,
dl.function dt,
dl.method dt,
dl.class dt dt {
	background-color: #eceae0;
}

dl.class dl.method dt {
	background-image: url('element-method-16.png');
}

dl.class dt {
	background-image: url('element-class-16.png')
}

dl.attribute dt {
	background-image: url('element-field-16.png')
}

.field-list dl dt {
	background-image: none;
}

table.field-list {
	border-collapse: collapse;
	font-size: 80%;
	width: 100%;
}

table.field-list td {
	padding: 0px;
}

table.field-list th.field-name {
	width: 100px;
}

table.field-list th.field-name,
table.field-list td.field-body dl dt {
	background-color: #eceae0 !important;
	border: none;
	margin: 0px;
	padding: 1px 5px;
}

table.field-list td.field-body dl dt {
	margin: 0px;
	padding-left: 20px;
}

table.field-list td.field-body dt span.classifier-delimiter,
table.field-list td.field-body dt span.classifier {
	color: #666666;
}

table.field-list td.field-body dd {
	color: #444444;
}

/* :::: PRINT :::: */
@media print {
    div.document,
    div.documentwrapper,
    div.bodywrapper {
        margin: 0;
        width : 100%;
    }

    div.sphinxsidebar,
    div.related,
    div.footer,
    div#comments div.new-comment-box,
    #top-link {
        display: none;
    }
}

