body {
	color: #595959;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5 {
	color: #414141;
	font-weight: normal;
}

a, a:link, a:visited {
	color: #2a7cdf;
	text-decoration: none;
}

a.headerlink {
        font-size: 1.2em;
        color: transparent;
        margin-left: 10px;
}

.hover a.headerlink {
        color: #bdc3c7;
}

h1:hover a.headerlink,
h2:hover a.headerlink,
h3:hover a.headerlink,
h4:hover a.headerlink,
h5:hover a.headerlink {
	display: inline;
	color: #d0d0d0;
	margin-left: 10px;
}

a:hover {
	border-bottom: 1px solid rgba(42, 124, 223, 0.5);
}

#topbar {
	background-color: #202326;
	margin: 0px;
}

#topwrapper {
	display: flex;
	flex-wrap: wrap;
}

#toplogo {
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: center;
}

#toplogo>a{
	display: flex;
	justify-content: center;
	padding-bottom: 1em;
	padding-top: 1em;
}

#topmenu {
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#topbar img {
	object-fit: contain;
}

#topbar #toplogo a:hover {
	border: none;
}

#topbar ul,
#topbar li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#topbar ul {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#topmenu ul.navigation li {
	display: flex;
	list-style-type: none;
}

#topmenu ul.navigation li a {
	line-height: 44px;
	list-style-type: none;
	color: #bbb;
	text-decoration: none;
	background-color: #303030;
	padding: 0 10px;
}

#topmenu ul.navigation li a.current {
	border-bottom: 2px solid #ffffff;
}

#topmenu ul.navigation li a:hover {
	background-color: #383a3d;
	border-bottom: 2px solid #202326;
}


#topmenu ul.navigation .nav-garden {
	background-color: #669900;
	color: #ffffff;
}

#topmenu ul.navigation .nav-guides {
	background-color: #0099cc;
	color: #ffffff;
}

#topmenu ul.navigation .nav-api {
	background-color: #cc0000;
	color: #ffffff;
}

#topmenu ul.navigation .nav-pdf {
	background-color: #ff8800;
	color: #ffffff;
}

#topmenu ul.navigation .nav-wiki {
    background-color: #30757E;
    color: #ffffff;
}

#topmenu ul.navigation a.nav-garden:hover {
    background-color: #99cc00;
}

#topmenu ul.navigation a.nav-guides:hover {
    background-color: #33b5e5;
}

#topmenu ul.navigation a.nav-api:hover {
    background-color: #ff4444;
}

#topmenu ul.navigation a.nav-pdf:hover {
    background-color: #ffbb33;
}

#topmenu ul.navigation a.nav-wiki:hover {
    background-color: #50C8D7;
}


div.sphinxsidebar {
	width: 100%;
}

div.sphinxsidebar a.mainlevel,
div.sphinxsidebar h3 {
	background-color: #e0e0e0;
	font-weight: normal;
	font-size: 1em;
	padding: 0.5em 1em;
	margin: 1px 0px;
}

div.sphinxsidebar a.togglable {
	padding-right: 34px;
	background: #e0e0e0 url('disclosure_up.png') top right no-repeat;
}
div.sphinxsidebar ul.toggleopen a.togglable {
	background-image: url('disclosure_down.png')
}

div.sphinxsidebar ul,
div.sphinxsidebar li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.sphinxsidebar ul li ul {
	display: none;
}

div.sphinxsidebar li a {
	background-color: #f0f0f0;
	display: block;
	font-weight: normal;
	font-size: 1em;
	padding: 0.5em 1em;
	color: #515151;
	border-left: 2px solid transparent;
}

div.sphinxsidebar ul ul li.current > a,
div.sphinxsidebar li a:hover {
	background-color: #e0f0f0;
	border: none;
	color: #202530;
	border-left: 2px solid #2a7cdf;
}

/* Footer */

.footerlinks table {
	background-color: #f0f0f0;
	width: 100%;
}

.footerlinks td {
	padding: 10px 15px;
	width: 50%;
}

.footerlinks td.rightlink {
	text-align: right;
}

#contentall {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

#content pre {
	background-color: #f0f0f0;
	padding: 10px 15px;
	font-family: 'Source Code Pro', monospace;
	white-space: pre-wrap;
}

#content h1 {
	margin-bottom: 25px;
}

#content h2 {
	border-bottom: 1px solid #e0e0e0;
	padding: 15px 0px 8px 0px;
}

/* Content: Admonition (warning, important, notice) */
#content div.admonition {
	padding-left: 10px;
	margin: 8px 0px;
}

#content div.admonition p {
	margin: 0px;
}

#content div.warning {
	border-left: 3px solid #E88080;
}

#content div.warning p.first {
	color: #E88080;
}

#content div.note {
	border-left: 3px solid #80C880;
}

#content div.note p.first {
	color: #80C880;
}


/* API only: versionadded */
.versionchanged,
.versionadded {
	font-style: italic;
	color: #a0a0a0;
}

/* API only: Module: kivy -- Jump to API */
.bodyshortcut {
	background-color: #f0f0f0;
	padding: 10px 15px;
}

.bodyshortcut .left {
	float: left;
}

.bodyshortcut .right {
	float: right;
}

/* API only: Link collapse-all / hide description */
#api-toggle-desc,
#api-toggle-all {
	float: right;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
}

/* API only: classes / methods / ... */

dl.api-level dt {
	cursor: pointer;
	background-color: #e0e0e0;
	font-weight: normal;
	font-size: 1em;
	padding: 10px 15px;
	margin: 1px 0px;
}

dl.api-level dl.attribute dt {
	background-color: #f0f0f0;
}

dl.api-level dd {
	margin-left: 20px;
}

dl.api-level {
	margin-top: 20px;
}

tt.descclassname {
	display: none;
}

tt.descname {
	color: #515151;
	font-size: 1.2em;
}

em {
	font-style: normal;
}

em.property {
	color: #df712d;
}

big {
	font-size: 14px;
	font-weight: normal;
}

/* field list */

table.field-list {
	border-collapse: collapse;
	border: 0 !important;
}

table.field-list th.field-name {
	background-color: #f0f0f0;
}
table.field-list tr {
	border: 5px solid white;
}
table.field-list td.field-body {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 5px;
}
table.field-list td.field-body dl.docutils {
	margin-top: -6px;
	margin-left: -10px;
}

table.field-list td.field-body dl.docutils dt {
	background-color: #f0f0f0;
	padding: 5px 8px;
	font-style: normal;
}

table.field-list td.field-body dl.docutils dd {
	margin: 8px 15px;
}

/* Form search */

.sphinxsidebar form.search {
	display: flex;
	margin-top: .5em;
	margin-bottom: .5em;
}

form.search input {
	line-height: 2em;
	border: 1px solid #d0d0d0;
	font-size: 1.1em;
	padding: 5px 8px;
	display: flex;
	flex-grow: 1;
}

form.search button[type=submit] {
	width: 20%;
	font-size: 1em;
}

/* Getting started */
.gs-eleft {
	float: left;
	margin-right: 10px;
}

/* From HTML */
table.docutils {
	border-collapse: collapse;
	border: 1px solid #d0d0d0;
}

table.docutils th,
table.docutils td {
	padding: 5px 8px;
}

.align-right {
	float: right;
	margin: 5px 0 5px 5px;
}

.align-center {
	margin: 5px auto;
	display: block;
}

/** API **/
.api-index {
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

div.sphinxsidebar .api-index li a {
	font-size: 12px;
	padding: 5px 5px;
}

/** TOC **/
.toc {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 10px;
    font-size: 0.9em;
    margin-top: 1em;
}

#content .toc h2 {
	font-size: 1.2em;
	margin: 0 0 5px 0;
	padding: 0 0 2px 0;
}

.toc ul li,
.toc ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.toc ul li li li {
	padding-left: 10px;
	border-left: 1px solid #e0e0e0;
}


/** Highlighted tables (source code with line number) **/
table.highlighttable {
	width: 100%;
}

table.highlighttable td.linenos {
	width: 40px;
}

/** viewcode link style **/
.viewcode-back,
.viewcode-link {
	position: absolute;
	right: 2em;
	display: none;
}

/** version added in method/class/attribute/module **/
span.versionadded {
	font-size: 12px;
	float: right;
}

span.versionadded span {
	color: #2a7cdf;
}

div.navlink {
	font-size: 12px;
	position: relative;
	text-align: right;
	top: -30px;
	height: 0px;
}

#version_selector {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #d0d0d0;
	padding: 0.5em 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	background: #ffffff00 url('disclosure_down.png') top right no-repeat;
}

#content {
	width: 100%;
}

#content > .wrapper {
	padding-left: 0;
	padding-right: 0;
}

img {
	max-width: 100%;
	object-fit: contain;
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

	#toplogo {
		width: 20%;
		height: 80px;
		display: flex;
		justify-content: flex-start;
	}

	#topmenu {
		width: 80%;
		height: 80px;
	}

	#topbar ul {
		justify-content: flex-end;
	}

	#topmenu ul.navigation li {
		margin-right: 3em;
	}

	div.sphinxsidebar {
		width: 260px;
		position: sticky;
		top: 0;
		height: 80vh;
		padding-top: 1em;
	}

	#content {
		width: calc(100% - 260px);
	}

	.sphinxsidebarwrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.api-index {
		height: 100px;
		display: flex;
		flex-grow: 1;
	}

	.is-api .sphinxsidebarwrapper .current {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
	}

	#content > .wrapper {
		padding-left: 1em;
		padding-right: 1em;
	}

	.toc {
		width: auto;
		background-color: #f5f5f5;
		border: 1px solid #e0e0e0;
		padding: 10px;
		float: right;
		margin: 0 0 10px 10px;
		font-size: 0.9em;
	}

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}