name: OSX Unittests

on: [push, pull_request]

env:
  KIVY_SPLIT_EXAMPLES: 1
  KIVY_GL_BACKEND: 'mock'
  CC: clang
  CXX: clang
  FFLAGS: '-ff2c'
  USE_SDL3: 1

jobs:
  unit_test:
    name: "unit_test (${{ matrix.runs_on }}, ${{ matrix.python }})"
    runs-on: ${{ matrix.runs_on }}
    strategy:
      fail-fast: false
      matrix:
        # macos-15-intel runs on Intel x64
        # macos-latest and macos-26 run on Apple Silicon ARM
        runs_on: ['macos-15-intel', 'macos-26', 'macos-latest']
        python: ['3.x']
        include:
          - runs_on: 'macos-latest'
            python: '3.14'
    steps:
    - if: matrix.runs_on == 'macos-26'
      run: xcodebuild -downloadComponent MetalToolchain
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python }}
        allow-prereleases: true
    - name: Install build dependencies
      run: |
        # we had cmake installed from installed a different Homebrew tap (local/pinned) in the past
        brew uninstall cmake || true
        brew install pkg-config cmake ninja
    - name: Install dependencies
      run: |
        source .ci/ubuntu_ci.sh
        ./tools/build_macos_dependencies.sh
    - name: Install Kivy
      run: |
        source .ci/ubuntu_ci.sh
        export KIVY_DEPS_ROOT=$(pwd)/kivy-dependencies
        install_kivy
    - name: Test Kivy
      run: |
        source .ci/ubuntu_ci.sh
        test_kivy
